[submodule "components/hagl"]
	path = components/hagl
	url = https://github.com/tuupola/hagl.git
[submodule "components/hagl_hal"]
	path = components/hagl_hal
	url = https://github.com/tuupola/hagl_esp_mipi.git
