[submodule "components/copepod"]
	path = components/copepod
	url = git@github.com:tuupola/copepod.git
[submodule "components/copepod_esp_mipi"]
	path = components/copepod_esp_mipi
	url = git@github.com:tuupola/copepod_esp_mipi.git
[submodule "components/esp_mipi"]
	path = components/esp_mipi
	url = git@github.com:tuupola/esp_mipi.git
