menu "SD card configuration"

config SDCARD_SPI_CLOCK_SPEED_HZ
    int "SPI clock speed in Hz"
    default 20000000
    range 0 80000000
    help
        SPI clock speed in Hz. If you have problems try a lower value.

config SDCARD_PIN_MISO
    int "MISO pin number"
    default 2

config SDCARD_PIN_MOSI
    int "MOSI pin number"
    default 15

config SDCARD_PIN_CLK
    int "CLK pin number"
    default 14

config SDCARD_PIN_CS
    int "CS pin number"
    default 13
endmenu
